@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-header-h: 4rem;
  --app-footer-h: 4rem;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .u-no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .u-no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* For date picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.emerald.500') !important;
  --rdp-background-color: theme('colors.emerald.400') !important;
  margin: 0 !important;
}

.rdp-months {
  display: flex !important;
  justify-content: center !important;
  margin: 1rem auto !important;
}

@media (max-width: 768px) {
  .rdp-table {
    margin: 1rem auto !important;
  }
  .rdp-months {
    flex-direction: column !important;
    row-gap: 1rem;
  }
  .rdp-month {
    margin: 0 !important;
  }
}
